PaginaWeb/WebAppSMarcacion/WebAppSMarcacion/Service References/WcfSMarcacion/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfSMarcacion" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BC" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BusquedaDeUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:BusquedaDeUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_BusquedaDeUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:BusquedaDeUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarUsuarioPorCodigoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioPorCodigoUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarUsuarioPorCodigoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioPorCodigoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarTodosUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTodosUsuarios" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarTodosUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTodosUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarUnGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUnGrupo" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarUnGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUnGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarTodosGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTodosGrupo" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarTodosGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTodosGrupoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaDeUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BusquedaDeUsuario" message="tns:IService1_BusquedaDeUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BusquedaDeUsuarioResponse" message="tns:IService1_BusquedaDeUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioPorCodigoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuscarUsuarioPorCodigoUsuario" message="tns:IService1_BuscarUsuarioPorCodigoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuscarUsuarioPorCodigoUsuarioResponse" message="tns:IService1_BuscarUsuarioPorCodigoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearUsuario" message="tns:IService1_CrearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearUsuarioResponse" message="tns:IService1_CrearUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTodosUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuscarTodosUsuarios" message="tns:IService1_BuscarTodosUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuscarTodosUsuariosResponse" message="tns:IService1_BuscarTodosUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUnGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuscarUnGrupo" message="tns:IService1_BuscarUnGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuscarUnGrupoResponse" message="tns:IService1_BuscarUnGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTodosGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuscarTodosGrupo" message="tns:IService1_BuscarTodosGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuscarTodosGrupoResponse" message="tns:IService1_BuscarTodosGrupo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaDeUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/BusquedaDeUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioPorCodigoUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/BuscarUsuarioPorCodigoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTodosUsuarios">
      <soap:operation soapAction="http://tempuri.org/IService1/BuscarTodosUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUnGrupo">
      <soap:operation soapAction="http://tempuri.org/IService1/BuscarUnGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTodosGrupo">
      <soap:operation soapAction="http://tempuri.org/IService1/BuscarTodosGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfSMarcacion/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>